<div class="mt-5 pt-5 mb-5 pb-5">
    <div class="container my-5">
        <div class="d-flex justify-content-between">
            <h1>My Table</h1>
            <button class="btn btn-primary">Add new exam</button>
        </div>
        
        <table class="table mt-5">
        <thead>
            <th>Exam Title</th>
            <th>Questions Count</th>
            <th>Created At</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr>
            <td>Amr</td>
            <td>asd</td>
            <td></td>
            <td>
                <button class="btn btn-primary me-2">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
